Host *
 SendEnv TERM

Host gw
  HostName h.liuxr.net
  Port 2229
  User root
  Compression no
  ForwardX11 no
  ForwardX11Trusted no

Host h
  HostName h.liuxr.net
  Port 2231
  User lxr
  Compression yes
  ForwardX11 yes
  ForwardX11Trusted yes

Host o
  HostName 20.0.0.2
  User lxr
  Compression yes
  ForwardX11 yes
  ForwardX11Trusted yes

Host 119
  HostName 192.168.0.119
  User henry
  Compression yes
  ForwardX11 yes
  ForwardX11Trusted yes

Host 4g_lab
  HostName 192.168.1.192
  User buspas

Host 4g_office
  HostName 10.0.110.118
  User buspas

Host 4g_home
  HostName 20.0.0.118
  User buspas

Host 55
  HostName bp3234310055
  User buspas

Host 61
  HostName bp3235300061
  User buspas

Host 87_office
  HostName 192.168.0.87
  User buspas

Host k152
  HostName 10.0.110.152
  User buspas

Host f125
  HostName 192.168.1.125
  User buspas

Host la84
  HostName 10.0.98.84
  User buspas

Host arm
  HostName o.liuxr.net
  User ubuntu

Host 87
  HostName 87.liuxr.net
  User buspas
  ProxyCommand cloudflared access ssh --hostname %h
  #IdentityFile ~/.ssh/id_ed25519

#### ssh -o "ProxyCommand=cloudflared access ssh --hostname %h" lxr@ssh-b.liuxr.net
Host o-c
    HostName ssh-b.liuxr.net
    User lxr
    ProxyCommand cloudflared access ssh --hostname %h

Host openwrt
    HostName openwrt-ssh.liuxr.net
    User root
    ProxyCommand cloudflared access ssh --hostname %h

Host k90
  HostName 10.0.98.90
  User buspas

Host bct88
  HostName 10.0.98.88
  User buspas

Host lucy112
  HostName 192.168.0.112
  User buspas
